*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.head{
    width: 100%;
    height: 80px;
    display: block;
    background-color: white;
}

.logo{
    width: 125px;
    height: 65px;
}

ul{
    padding: 0;
    margin: 0 0 0 60px;
    padding-top: 25px;
}

a{
    text-decoration: none;
    color : black;
}

.nav-items li{
    width:15%;
    /* border: 1px solid #e7e7e7; */
    padding: 5px;
    border-radius: 3px;
    transition: 0.3s ease;
    display: inline;
}

body{
    font-family:"Nunito",sans-serif;
}

.first-container{
    padding-top: 15px;
    padding-bottom: 50px;
    float: left;
    padding-left: 100px;
    margin: 15px auto;
}

.first-img  {
    width: 600px;
    height: 600px;
}

.container{
    padding-top: 10px;
    float: right;
    padding-right: 100px;
    width: 40%;
    margin: 15px auto;
}
  
  
form{
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}
  
form label{
    margin: 5px 0;
}

form input[type="text"],input[type="password"]{
    margin: 5px 0;
    height: 55px;
    border: 0.5px solid #b8b8b85d;
    border-radius: 3px;
    padding: 0 15px;
    font-size:20px;
    font-family: "Nunito",sans-serif;
}
  
form a{
    margin: 10px 0;
    text-decoration: none;
    color: var(--main-color);
    font-weight:bold;
}


.submit {
    font-family:"Nunito",sans-serif;
    width: 100%;
    height:50px;
    padding: 7px;
    border: none;
    border-radius: 2px;
    color: white;
    font-weight: bold;
    background-color: #0f0cbd;
    cursor: pointer;
}

  
.footer .images{
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content:space-around;
    margin-top: 15px;
}

.footer .images img{
    width:15%;
    border: 1px solid #e7e7e7;
    padding: 15px;
    border-radius: 3px;
    transition: 0.3s ease;
}
  
.footer .images img:hover{
    box-shadow: var(--box-shadow);
    cursor: pointer;
}
  
/* .footer a{
    float: right;
    color: var(--main-color);
    margin:10px 0;
} */